
@import url(header.css);
/* Body */
body {
    font-family: "Quicksand", sans-serif;
    background-color: hsl(53, 60%, 90%);
    font-size: 1.5em;
    color: hsl(53, 20%, 55%);
}

/* bloc */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px;
}

/* Inline */
h1 {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 75px;
    font-size: 2.5em;
    font-weight: normal;
}

h2 {
    display: inline-block;
    border-radius: 0px 45px 45px 0px;
    margin: 10px 0px;
    padding: 10px 0px 10px 20px;
    font-size: 1.75em;
    width: 225px;
}

h3 {
    font-size: 1.5em;
    padding: 15px 0px;
}

a {
    padding: 5px 15px;
    font-size: 1.3em;
    border-radius: 25px;
    transition: transform 0.1s;
}

a:hover {
    transform: scale(1.07);
    background-color: hsl(10, 55%, 67%);
    box-shadow: 0px 0px 10px 5px hsla(10, 55%, 70%, 0.75);
}

/* Profile */
#Profile {
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}

#Profile-pic {
    margin: 15px 30px;
    height: 300px;
    width: auto;
    border-radius: 100%;
}

#Profile div img {
    height: 60px;
    width: auto;
    margin: 10px;
    transition: transform 0.1s;
}

#Profile div img:hover {
    transform: scale(1.1);
}

#Profile div {
    width: 650px;
    margin: 15px 30px;
}



/* Vertical Project Card */
.project-card--vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 300px;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
    transition: transform 0.2s;
}

.project-card--vertical:hover {
    transform: translate(0px, -15px)
}

.project-card--vertical p {
    align-self: flex-start;
    padding: 0px 5px;
    border-radius: 10px;
    font-size: 0.90em;
    border-style: solid;
    font-weight: bold;
}

.project-card--vertical h3 {
    font-weight: bold;
    text-align: center;
    padding: 0px 5px;
    border-radius: 10px;
    border-style: solid;
    font-weight: bold;
    font-size: 1.25em;
}

.project-card--vertical img {
    height: auto;
    width: 95%;
    border-radius: 25px;
    border-style: solid;
}

.project-card--vertical a {
    align-self: flex-end;
    padding: 0px 13px;
    font-weight: bold;
    border-radius: 100%;
}

/* styles */
.style--green {
    color: rgba(250, 250, 250, 0.7);
    background-color: hsl(53, 40%, 75%);
    box-shadow: 3px 3px 10px 3px hsla(53, 40%, 75%, 0.75);
}

.style--orange {
    color: rgba(250, 250, 250, 0.7);
    background-color: hsl(10, 55%, 70%);
    box-shadow: 0px 0px 10px 2px hsla(10, 55%, 70%, 0.75);
}